<div class="product-list">
  <h1>{{ title }}</h1>
  <div class="product-items">
    <div
      class="product-card"
      *ngFor="let product of products"
      [ngClass]="status"
      (click)="onProductClick(product)"
    >
      <!-- LEFT CONTENT -->
      <div class="card-content">
        <!--Rating Row-->
        <div class="rating-row">
          <div class="stars">
            <!--Full Stars-->
            <span
              *ngFor="
                let star of [].constructor(getFullStars(product.avg_rating))
              "
            >
              &#9733;
            </span>
            <!--Empty Stars-->
            <span
              *ngFor="
                let star of [].constructor(getEmptyStars(product.avg_rating))
              "
            >
              &#9734;
            </span>
          </div>
          <div class="rating-meta">
            {{ product.avg_rating | number: "1.1-1" }} •
            {{ product.review_count }} reviews
          </div>
        </div>
        <!--Product Name-->
        <div class="product-name">
          {{ product.product_name }}
        </div>
        <!--Product Specs-->
        <div class="product-specs">
          <span
            class="spec-chip"
            *ngFor="let spec of getSpecsList(product.specs)"
          >
            {{ spec }}
          </span>
        </div>
        <div class="sentiment-row">
          <div class="sentiment-bar-track">
            <div
              class="sentiment-bar-fill"
              [ngClass]="status"
              [style.width.%]="product.positive_rate * 100"
            ></div>
          </div>
          <span class="sentiment-label">
            😊 {{ product.positive_rate * 100 | number: "1.0-0" }}% positive
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
